VITE_APP_VERSION=v2.1.0
GENERATE_SOURCEMAP=false
VITE_APP_BASE_NAME=/
VITE_APP_PROTOCOL=http
VITE_APP_HOST=localhost
VITE_APP_DOMAIN=
VITE_API_PORT=8082
VITE_DEV_PORT=3002
VITE_DEV_HOST=0.0.0.0
VITE_DEV_USE_HTTPS=false
