VITE_APP_VERSION=v1.0.0
GENERATE_SOURCEMAP=false
VITE_APP_BASE_NAME=/
VITE_APP_PROTOCOL=http
VITE_APP_HOST=10.232.100.69
VITE_APP_DOMAIN=
VITE_API_PORT=8083
VITE_API_BASE_URL=http://10.232.100.69:8083
VITE_DEV_PORT=3003
VITE_DEV_HOST=0.0.0.0
VITE_DEV_USE_HTTPS=false
